
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
  
}

.link-html {
    min-height: 100%;
}

.link-body {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    min-height: 100%;
}

.link-content {
    padding-top: 0rem;
}

.link-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.link-verified {
    color: #3897F0;
}

.link-btn {
    position: relative;
    white-space: normal;
    word-wrap: break-word;
    padding: 1rem 4.5rem;
    font-size: 1.1rem;
    /* box-shadow: 0px 0px 15px #00008024; */
    box-shadow: 0px 0px 20px rgb(11 17 52 / 10%);
    border: 0;
    transition: opacity 0.3s, background 0.3s;
    border-radius: 0;
}

.link-btn:hover {
    animation: none;
}

.link-btn-round {
    border-radius: 50px;
}

.link-btn-rounded {
    border-radius: .3rem;
}

.link-btn-image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 45px;
    max-height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
    margin-left: -4.1rem;
}

.link-grid-image-wrapper {
    position: relative;
    height: 10rem;
    width: 100%;
    background: var(--primary-100);
    border-radius: .25rem;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .link-grid-image-wrapper {
        height: 20rem;
    }
}
@media (max-width: 992px) {
    .single-product-block-blank {
        width: 25% !important;
    }
    .single-product-block-details {
        width: 75% !important;
    }
}
@media (max-width: 767px) {
    .single-product-block-blank {
        width: 35% !important;
    }
    .single-product-block-details {
        width: 65% !important;
    }
}


.link-grid-image-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 1rem;
}

.link-grid-image-overlay-text {
    color: white;
    font-size: 1.1rem;
}

.link-btn-image {
    width: 100%;
    height: auto;
}

.link-iframe-round {
    border-radius: .3rem;
    overflow:hidden;
    position:relative;
}

.tiktok-embed {
    border-radius: .3rem !important;
}


/* Background presets */
.link-body-background-one {
    background-image: linear-gradient(111.7deg, #a529b9 19.9%, #50b1e1 95%);
}

.link-body-background-two {
    background-image: linear-gradient(109.6deg, #ffb418 11.2%, #f73131 91.1%);
}

.link-body-background-three {
    background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
}

.link-body-background-four {
    background-image: linear-gradient(to bottom, #ff758c, #ff7eb3);
}

.link-body-background-five {
    background-image: linear-gradient(292.2deg, #3355ff 33.7%, #0088ff 93.7%);
}

.link-body-background-six {
    background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}
.single-link-block{
    width: 100%;
    height: 130px;
    /* box-shadow: 0px 0px 15px #00008024; */
    box-shadow: 0px 0px 15px rgb(11 17 52 / 10%);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.single-link-block a{
    width: 100%;
    height: 100%;
    display: flex !important;
}
.single-link-block .single-product-div{
    width: 100%;
    height: 100%;
    display: flex !important;
}
.single-link-block-img{
    width: 20%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.single-link-block-details{
    width: 70%;
    display: flex;
    height: 100%;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding:0 40px;
}
.single-product-div .single-link-block-details{
    width: 80%;
}
.single-link-block-arrow{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-link-block a:hover{
    text-decoration: none;
} 
.single-link-block-details p{
    font-size: 14px;
    text-align: left;
    margin-bottom:10px;
}
.single-link-block-details h4{
    /* flex-basis:100%; */
    font-size: 20px;
    text-align: left;
    margin-bottom:10px;
}

.widget-block{
    width: 100%;
    /* height: 130px; */
    /* box-shadow: 0px 0px 15px #00008024; */
    box-shadow: 0px 0px 15px rgb(17 21 26 / 15%);
    border-radius: 20px;
    overflow: hidden;
    /* margin-top: 15px; */
    padding:20px 30px;
    text-align: left;
}
.widget-block h4{
    font-size: 22px !important;
}
.widget-block p{
    font-size: 15px !important;
}
.widget-block form .form-group{
    margin:0;
}
.widget-input input{
    border-radius: 50px;
    background: transparent !important;
    /* overflow: hidden; */
}
/* .widget-input input{
    border-radius: 0 !important;
} */
.subscribe-next-btn,.subscribe-btn{
    /* color:black; */
    font-weight:500;
    min-width: 100px;
    /* background: white; */
    font-size:12px;
    border-radius:30px !important;
}
    @media(max-width:767px){
        .single-link-block-img{
            width: 30%;
        }
        .single-link-block-details{
            width: 70%;
        }
        .widget-block{
            padding:20px 15px;   
        }
        .single-product-div p{
            font-size:12px;
        }
        /* .widget-block h4{
            font-size: 16px !important;
        }
        .widget-block p{
            font-size: 10px !important;
        } */
    }
    .link-btn-div{
        width: 100%;
        padding-top:56.25%;
      }
.link-img-div {
  width: 100%;
  /* height: 151px; */
  background-color: #F6F6F6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.link-btn-image{
    width: 100%;
    background: url('') no-repeat center;
    /* background-size: 100%; */
    background-size: cover;
    padding-top: 56.25%;
}
.link-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
  }
  
  .link-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .link-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .link-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .link-switch input:checked + .slider {
    background-color: #FF1451;
  }
  
  .link-switch input:focus + .slider {
    box-shadow: 0 0 1px #FF1451;
  }
  
  .link-switch input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .link-switch .slider.round {
    border-radius: 34px;
  }
  
  .link-switch .slider.round:before {
    border-radius: 50%;
  }
  .product-page-cover-image{
    border-radius: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .product-author-image{
    margin-top: -25px;
  }
  .product-page-author-image{
    border-radius: 50px;
  }

  html {
    background-color: white !important;
}

@media(min-width:993px) {
    .single-link-block-img {
        width: 30%;
    }

    .container.animate__animated.animate__fadeIn,
    .profile_description div {
        max-width: 900px !important;
        margin: 0 auto !important;
        /* text-align:center; */
    }
}